.Intro{
    margin-left: 2px;
    background-color: #f8f9fa;
    border: 2px solid black;
    font-size: 20px;
}
h2{
    color: #007bff;
    font-size: 35px;
    margin-left: 10px;
}
h3{
    color: red;
    font-size: 25px;
    margin-left: 10px;
}
.navbar{
    background-color: #007bff;
    display: flex;
    justify-content: space-evenly;
}
.navbar a{
    color: white;
    text-decoration: none;
    font-size: 30px;
}
h1{
    text-align: center;
}
p{
    margin-left: 10px;
    
}
#G1{
    display: flexbox;
    justify-content: space-evenly;
    background-color: #f8f9fa;
    border: 2px solid black;
}
figcaption{
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}
#Listings{
    font-size: 40px;
    display: flex;
    justify-content: space-evenly;
    background-color: #f8f9fa;
    border: 2px solid black;
}
